@{
  Layout ="_Layout";
}

@model Pastries.Models.Treat;

<h2>Add a Flavor</h2>

<h3>Add another flavor to @Html.DisplayFor(model => model.TreatName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Pick a flavor")
  @Html.DropDownList("FlavorId")
  
  <input type="submit" value="Save">
}
<p>@Html.ActionLink("Back to list", "Index")</p>